body {
    font-family: 'Atkinson Hyperlegible';
    background-color: #18181d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: #fff;
}

h1 {
    color: #fff;
    text-align: center;
}
h1 {
    color: #2980b9; 
    text-align: center;
}

p {
    color: #ecf0f1; 
    text-align: center;
    font-size: 1.2rem;
}
.description {
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg, #18181B, #3c3c3f);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    color: whitesmoke;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}

.card {
    background: linear-gradient(45deg, #18181B, #3c3c3f);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #333;
    text-decoration: none; 
    padding: 15px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card h3 {
    color: #2c3e50;
}

.card p {
    color: #7f8c8d;
}

.card:hover h3,
.card:hover p {
    color: #3a7eac; 
}

.card {
    cursor: pointer;
}

@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }
}
